DevStream_AI_Incident_Monitoring.json
{
  "name": "DevStream – AI-Powered Incident Monitoring Pipeline",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst item = $input.first().json;\n\nlet severity = \"LOW\";\n\nif (item.statusCode >= 500) {\n    severity = \"HIGH\";\n} else if (item.statusCode >= 400) {\n    severity = \"MEDIUM\";\n}\n\nitem.severity = severity;\nitem.aiStatus = \"PENDING\";\n\nreturn [\n  {\n    json: item\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -544
      ],
      "id": "9fe23d17-f602-4ec3-a419-a1f2948c1dd3",
      "name": "Calculate Severity"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "monitoring",
          "mode": "list",
          "cachedResultName": "monitoring"
        },
        "table": {
          "__rl": true,
          "value": "api_failure_logs",
          "mode": "list",
          "cachedResultName": "api_failure_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ai_status": "={{ $('Parse AI Response').item.json.aiStatus }}",
            "failure_id": "={{ $('Parse AI Response').item.json.failureId }}"
          },
          "matchingColumns": [
            "failure_id"
          ],
          "schema": [
            {
              "id": "failure_id",
              "displayName": "failure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_name",
              "displayName": "service_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "endpoint",
              "displayName": "endpoint",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "http_method",
              "displayName": "http_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_code",
              "displayName": "status_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "response_time_ms",
              "displayName": "response_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stack_trace",
              "displayName": "stack_trace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_status",
              "displayName": "ai_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        -544
      ],
      "id": "230f114d-4937-4e02-a117-f8bd60a5fcb1",
      "name": "Update AI Status",
      "credentials": {
        "postgres": {
          "id": "00XjW0grpGqanNIP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-monitor",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -544
      ],
      "id": "d2376a10-ab8b-45bf-a6f7-71e4d1388906",
      "name": "Receive Failure Event",
      "webhookId": "7ed395e0-cff8-4e56-b993-42d4b07b8f1c"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst requiredFields = [\n  'serviceName',\n  'endpoint',\n  'statusCode'\n];\n\nfor (const field of requiredFields) {\n  if (\n    body[field] === undefined ||\n    body[field] === null ||\n    body[field] === ''\n  ) {\n    throw new Error(`${field} is required`);\n  }\n}\n\nreturn [\n  {\n    json: body\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -544
      ],
      "id": "62978239-820f-4d1c-b26d-ef762b6a35f7",
      "name": "Validate Payload"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "monitoring",
          "mode": "list",
          "cachedResultName": "monitoring"
        },
        "table": {
          "__rl": true,
          "value": "api_failure_logs",
          "mode": "list",
          "cachedResultName": "api_failure_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_code": "={{$json.statusCode}}",
            "response_time_ms": "={{$json.responseTimeMs}}",
            "service_name": "={{$json.serviceName}}",
            "endpoint": "={{$json.endpoint}}",
            "http_method": "={{$json.httpMethod}}",
            "severity": "={{$json.severity}}",
            "error_message": "={{$json.errorMessage}}",
            "stack_trace": "={{$json.stackTrace}}",
            "ai_status": "={{$json.aiStatus}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "failure_id",
              "displayName": "failure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service_name",
              "displayName": "service_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endpoint",
              "displayName": "endpoint",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "http_method",
              "displayName": "http_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_code",
              "displayName": "status_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_time_ms",
              "displayName": "response_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stack_trace",
              "displayName": "stack_trace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_status",
              "displayName": "ai_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "failure_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -544
      ],
      "id": "2a92abe7-4582-4483-b86c-ecdd29e7612c",
      "name": "Log API Failure",
      "credentials": {
        "postgres": {
          "id": "00XjW0grpGqanNIP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        976,
        -320
      ],
      "id": "25eff7e0-f07c-4ef2-9dd4-4349e063d90c",
      "name": "Gemini Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "BIenh3ti491UgDLr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet raw =\n  input.output ??\n  input.text ??\n  input.response ??\n  input;\n\n// If Gemini returned the result as text, clean and parse it.\nif (typeof raw === 'string') {\n  raw = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n}\n\nlet parsed;\n\ntry {\n  parsed =\n    typeof raw === 'string'\n      ? JSON.parse(raw)\n      : raw;\n} catch (error) {\n  throw new Error(\n    `AI Agent returned invalid JSON: ${error.message}`\n  );\n}\n\n// Support both flat and nested AI output structures.\nconst rootCause =\n  parsed.rootCause ??\n  parsed.analysis?.rootCause ??\n  '';\n\nconst assumptions =\n  parsed.assumptions ??\n  parsed.analysis?.assumptions ??\n  '';\n\nconst javaFix =\n  parsed.javaFix ??\n  parsed.fix?.javaFix ??\n  parsed.suggestedFix ??\n  parsed.codeFix ??\n  '';\n\nconst unitTest =\n  parsed.unitTest ??\n  parsed.fix?.unitTest ??\n  parsed.testCase ??\n  '';\n\nconst bestPractice =\n  parsed.bestPractice ??\n  parsed.fix?.bestPractice ??\n  '';\n\nconst confidenceScoreRaw =\n  parsed.confidenceScore ??\n  parsed.analysis?.confidenceScore ??\n  0;\n\nconst confidenceScore = Math.min(\n  Math.max(Number(confidenceScoreRaw) || 0, 0),\n  1\n);\n\nconst allowedActions = [\n  'CREATE_INCIDENT',\n  'LOG_ONLY',\n  'RETRY',\n  'ESCALATE'\n];\n\nconst recommendedAction =\n  allowedActions.includes(parsed.recommendedAction)\n    ? parsed.recommendedAction\n    : 'LOG_ONLY';\n\nconst failureId = Number(\n  parsed.failureId ??\n  $('Log API Failure').item.json.failure_id\n);\n\nif (!failureId) {\n  throw new Error('failureId is missing or invalid');\n}\n\nconst hasValidAnalysis =\n  rootCause.trim() !== '' ||\n  javaFix.trim() !== '' ||\n  unitTest.trim() !== '' ||\n  bestPractice.trim() !== '';\n\nconst aiStatus = hasValidAnalysis\n  ? 'COMPLETED'\n  : 'FAILED';\n\nreturn [\n  {\n    json: {\n      failureId,\n      rootCause,\n      assumptions,\n      javaFix,\n      unitTest,\n      bestPractice,\n      confidenceScore,\n      recommendedAction,\n      aiStatus\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -544
      ],
      "id": "b089b0c6-a0cb-4f0d-a2c6-3c462f505706",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "monitoring",
          "mode": "list",
          "cachedResultName": "monitoring"
        },
        "table": {
          "__rl": true,
          "value": "ai_analysis",
          "mode": "list",
          "cachedResultName": "ai_analysis"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "failure_id": "={{ $json.failureId }}",
            "confidence_score": "={{ $json.confidenceScore }}",
            "java_fix": "={{ $json.javaFix }}",
            "root_cause": "={{ $json.rootCause }}",
            "unit_test": "={{ $json.unitTest }}",
            "best_practice": "={{ $json.bestPractice }}",
            "recommended_action": "={{ $json.recommendedAction }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "analysis_id",
              "displayName": "analysis_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "failure_id",
              "displayName": "failure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "root_cause",
              "displayName": "root_cause",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "java_fix",
              "displayName": "java_fix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_test",
              "displayName": "unit_test",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "best_practice",
              "displayName": "best_practice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "analysis_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        -544
      ],
      "id": "4262bc69-8ff4-4698-bf08-40c1b0b0b6de",
      "name": "Store AI Analysis",
      "credentials": {
        "postgres": {
          "id": "00XjW0grpGqanNIP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7df00009-5dfa-4e9d-ba91-bd450738f5fd",
              "leftValue": "={{ $('Calculate Severity').first().json.severity }}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -544
      ],
      "id": "549676bb-37fb-43f9-b314-c212962ac184",
      "name": "Check Severity"
    },
    {
      "parameters": {
        "content": "Failure Ingestion\n\nReceives failed API requests from\nPostman (Phase 1) or Spring Boot\nmicroservices (Phase 2).",
        "height": 192,
        "color": "#38CBF0"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -144
      ],
      "typeVersion": 1,
      "id": "c1774256-0052-46fb-b0c6-aeeb5eb3efdd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "AI Incident Analysis\n\nGemini AI generates:\n\n• Root Cause\n• Assumptions\n• Java Fix\n• Unit Test\n• Best Practice\n• Confidence Score\n• Recommended Action",
        "height": 288,
        "color": "#DDCF36"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -160
      ],
      "typeVersion": 1,
      "id": "f7ce8be1-bbea-4985-a2de-2ffd9ff0eba2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Persistence Layer\n\nStores:\n\n• API Failure Logs\n• AI Analysis\n• Processing Status\n\nDatabase:\nNeon PostgreSQL",
        "height": 256,
        "color": "#17E8A9"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -160
      ],
      "typeVersion": 1,
      "id": "04ff9ec3-7af9-44bc-9435-99d623d2af41",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Incident Management\n\nHIGH Severity\n\n↓\n\nNotify Engineer\n\nFuture:\n• Slack\n• Jira\n• Microsoft Teams",
        "height": 304,
        "color": "#D93636"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        -176
      ],
      "typeVersion": 1,
      "id": "3b537972-2528-4bc0-9e79-c2e5793bad52",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this API failure.\n\nFailure ID:\n{{ $json.failure_id }}\n\nService:\n{{ $('Calculate Severity').item.json.serviceName }}\n\nEndpoint:\n{{ $('Calculate Severity').item.json.endpoint }}\n\nHTTP Method:\n{{ $('Calculate Severity').item.json.httpMethod }}\n\nStatus Code:\n{{ $('Calculate Severity').item.json.statusCode }}\n\nSeverity:\n{{ $('Calculate Severity').item.json.severity }}\n\nError:\n{{ $('Calculate Severity').item.json.errorMessage }}\n\nStack Trace:\n{{ $('Calculate Severity').item.json.stackTrace }}",
        "options": {
          "systemMessage": "You are an expert Java Backend Incident Analysis Agent.\n\nYour responsibilities are:\n- Analyze Java backend failures.\n- Identify the most likely root cause.\n- Suggest a production-quality Java fix.\n- Suggest an appropriate unit test.\n- Recommend a backend engineering best practice.\n\nRules:\nYou must always return all required JSON keys, even when information is unavailable.\n\nRequired keys:\nfailureId\nrootCause\nassumptions\njavaFix\nunitTest\nbestPractice\nconfidenceScore\nrecommendedAction\n\nIf a value cannot be determined, return an empty string for text fields.\nNever omit a required key.\n\n{\n  \"failureId\": 0,\n  \"rootCause\": \"\",\n  \"assumptions\": \"\",\n  \"javaFix\": \"\",\n  \"unitTest\": \"\",\n  \"bestPractice\": \"\",\n  \"confidenceScore\": 0.0,\n  \"recommendedAction\": \"LOG_ONLY\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        -544
      ],
      "id": "865de163-74cd-457b-ac13-21ead506f41b",
      "name": "Analyze Failure ( Gemini AI )",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "farha.serin@gmail.com",
        "subject": "=[DevStream] API Failure Analysis - Failure ID {{ $('Parse AI Response').first().json.failureId }} {{ $json.failure_id }}",
        "emailType": "text",
        "message": "={{ $json.failure_id }}{{ $json.service_name }}{{ $json.status_code }}{{ $json.error_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2144,
        -544
      ],
      "id": "e7d28dd1-2e0c-44eb-8e50-340b38d46d31",
      "name": "Notify Engineer Email",
      "webhookId": "14ef36ed-15bf-4f09-af76-7cad81c09ad2",
      "credentials": {
        "gmailOAuth2": {
          "id": "grtIcFPPpghJDWyb",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculate Severity": {
      "main": [
        [
          {
            "node": "Log API Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update AI Status": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Failure Event": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Calculate Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Failure": {
      "main": [
        [
          {
            "node": "Analyze Failure ( Gemini AI )",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Failure ( Gemini AI )",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Store AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Analysis": {
      "main": [
        [
          {
            "node": "Update AI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "Notify Engineer Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analyze Failure ( Gemini AI )": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98bd48ea-fd84-4657-beae-a15dc0f664e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33eb59d1f960e09020a2c2842039ce29bcd007d886b6595f909aa5c79441f35a"
  },
  "nodeGroups": [],
  "id": "qum4mmv8Tlko0Tbc",
  "tags": [
    {
      "updatedAt": "2026-07-15T11:24:57.435Z",
      "createdAt": "2026-07-15T11:24:57.435Z",
      "id": "QBm947rOLwrVlPnr",
      "name": "Farha"
    }
  ]
}